$header-bg: #074E68;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.5;
$header-height: 2.5rem;
$transition: all 0.35s ease-in-out;
.header {
    text-align: center;
    background: #607d8b;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: $header-height;
    padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
    .headline {
        color: #ffe;
    }
}
h6 {
    animation: date-animation 1s steps(5, start) infinite;
    color: #ffe;
}
.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    li {
        float: none;
        display: inline-block;
        a {
            padding: $subnav-link-padding 1rem;
            font-size: $subnav-font-size;
            color: #ffe;
            text-transform: uppercase;
            display: block;
            font-weight: bold;
            letter-spacing: 1px;
            transition: $transition;
            &.is-active {
                border-bottom: solid 3px #E87E04;
                background: rgba(232,126,4,$subnav-link-opacity);
            }
            &:hover {
                background: rgba(232,126,4,$subnav-link-opacity);
                transition: $transition;
            }
        }
    }
}

// @keyframes date-animation {
// 	0% { opacity: 1; }
// 	25% { opacity: 1; }
// 	50% { opacity: .5; }
// 	100% { opacity: 0; }
// }
