<header class="header">
    <h1 class="headline">Weekly Overview</h1>
    <h6>Today's Date: 5/14/16</h6>

    <ul class="header-subnav">
        <li><a href="#overview">Dashboard</a></li>
        <li><a href="#today">Today</a></li>
        <li><a href="#week" class="is-active">Next 7 Days</a></li>
        <li><a href="#month">Next 30 Days</a></li>
    </ul>
</header>

<div class="row features">
    <div class="medium-4 columns" ng-model="weeklyQuoteArray">
        <div class="round-icon">
            <span class="">{{weeklyQuoteArray.length}}</span>
        </div>
        <h3>Quotes</h3>
        <hr>

    </div>
    <div class="medium-4 columns" ng-model="weeklyTaskArray">
        <div class="round-icon">
            <span class="">{{weeklyTaskArray.length}}</span>
        </div>
        <h3>Tasks</h3>
        <hr>
    </div>
    <div class="medium-4 columns" ng-model="weeklyOppsArray">
        <div class="round-icon">
            <span class="">{{weeklyOppsArray.length}}</span>
        </div>
        <h3>Opportunities</h3>
        <hr>

    </div>
</div>
