<header class="header">
  <h1 class="headline">Welcome back!</h1>
  <ul class="header-subnav">
    <li><a href="#overview" >Dashboard</a></li>
    <li><a href="#today">Today</a></li>
    <li><a href="#week" class="is-active" >This Week</a></li>
    <li><a  href="#month">This Month</a></li>
  </ul>
</header>

<div class="overview">
  <ul>
     <h3>{{}} 1</h3>
    <li>Tasks</li>
    <h3>{{}} 1</h3>

    <li>Opportunities</li>
    <h3>{{}}</h3>

    <li>Meetings</li>
    <h3>{{}}</h3>

    <li>Quotes</li>
  </ul>
</div>
