<header class="header">
  <h1 class="headline">Welcome back!</h1>
  <ul class="header-subnav">
    <li><a href="#overview" >Dashboard</a></li>
    <li><a href="#today" >Today</a></li>
    <li><a href="#week"  >This Week</a></li>
    <li><a href="#month" class="is-active">This Month</a></li>
  </ul>
</header>

<div class="overview" ng-model="quoteArray">
  <ul>
     <h3>{{quoteArray.length}}</h3>
    <li>Quotes</li>
  </ul>
</div>
<div class="overview" ng-model="oppsArray">
  <ul>
     <h3>{{oppsArray.length}}</h3>
    <li>Opportunities</li>
  </ul>
</div>
<div class="overview" ng-model="meetingArray">
  <ul>
     <h3>{{meetingArray.length}}</h3>
    <li>Meetings</li>
  </ul>
</div>
<div class="overview" ng-model="taskArray">
  <ul>
     <h3>{{taskArray.length}}</h3>
    <li>Tasks</li>
  </ul>
</div>
