<header class="header">
    <h1 class="headline">Monthly Overview</h1>
    <h6>Today's Date: 5/14/16</h6>

    <ul class="header-subnav">
        <li><a href="#overview">Dashboard</a></li>
        <li><a href="#today">Today</a></li>
        <li><a href="#week">Next 7 Days</a></li>
        <li><a href="#month" class="is-active">Next 30 Days</a></li>
    </ul>
</header>

<div class="row features">
    <div class="medium-4 columns" ng-model="monthlyQuoteArray">
        <div class="round-icon">
            <span class="">{{monthlyQuoteArray.length}}</span>
        </div>
        <h3>Quotes</h3>
        <hr>

    </div>
    <div class="medium-4 columns" ng-model="monthlyTaskArray">
        <div class="round-icon">
            <span class="">{{monthlyTaskArray.length}}</span>
        </div>
        <h3>Tasks</h3>
        <hr>
    </div>
    <div class="medium-4 columns" ng-model="monthlyOppsArray">
        <div class="round-icon">
            <span class="">{{monthlyOppsArray.length}}</span>
        </div>
        <h3>Opportunities</h3>
        <hr>

    </div>
</div>
