<header class="header" ng-model="date">
    <h1 class="headline">Welcome back!</h1>
    <h6>Today's Date: 5/15/16</h6>
    <ul class="header-subnav">

        <li><a href="#overview" class="is-active">Dashboard</a></li>
        <li><a href="#today">Today</a></li>
        <li><a href="#week">This Week</a></li>
        <li><a href="#month">This Month</a></li>
    </ul>
</header>

<div class="overview" ng-model="meetingArray">
    <ul>
        <h3>{{meetingArray.length}}</h3>
        <li>Meetings</li>
    </ul>
</div>





<div class="row features">
    <div class="medium-4 columns" ng-model="quoteArray">
        <div class="round-icon">
            <span class="">{{quoteArray.length}}</span>
        </div>
        <h3>Quotes</h3>
        <hr>

    </div>
    <div class="medium-4 columns" ng-model="taskArray">
        <div class="round-icon">
            <span class="">{{taskArray.length}}</span>
        </div>
        <h3>Tasks</h3>
        <hr>
    </div>
    <div class="medium-4 columns" ng-model="oppsArray">
        <div class="round-icon">
            <span class="">{{oppsArray.length}}</span>
        </div>
        <h3>Opportunities</h3>
        <hr>

    </div>
</div>
